<kendo-tabstrip>
    <kendo-tabstrip-tab [title]="'所有菜单'" [selected]="true">
        <ng-template kendoTabContent>
            <div>
                <ol style="list-style:none;">
                    <li>asjkdhajksd</li>
                    <li>asjkdhajksd</li>
                    <li>asjkdhajksd</li>
                    <li>asjkdhajksd</li>
                </ol>
            </div>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'我的收藏'">
        <ng-template kendoTabContent>
            <div>
                <ol style="list-style:none;">
                    <li>asjkdhajksd</li>
                    <li>asjkdhajksd</li>
                    <li>asjkdhajksd</li>
                    <li>asjkdhajksd</li>
                </ol>
            </div>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>